@use "../helpers/mixins" as *;
.VideoScroll {
    height: 100svh;
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            color: var(--white);
             @include res('font-size', 24px, 48px);
             text-align: center;
             font-weight: 700;
             text-transform: capitalize;
             @include Min('width' , 800px ,100%)
        }
    }

    .videoContainer {
        width: 100%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top top;
        }
    }
}