%A_B {
    content: '';
    position: absolute;
    transition: var(--t-s);
}

%centerY {
    top: 50%;
    transform: translateY(-50%);
}

%centerX {
    left: 50%;
    transform: translateX(-50%);
}