@font-face {
    font-family: 'Expo';
    src: url('../../../assets/fonts/Expo\ Arabic\ Book.woff2');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Expo';
    src: url('../../../assets/fonts/Expo\ Arabic\ Medium.woff2');
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Expo';
    src: url('../../../assets/fonts/Expo\ Arabic\ Bold.woff2');
    font-display: swap;
    font-weight: 700;
}

